<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview of {{todayDate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div *ngIf="stepcount == -1">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Loading...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Loading...
    </ion-card-content>
  </ion-card>
</div>  

<div *ngIf="stepcount != -1">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Steps</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{stepcount}} Steps | {{distancecount}} Miles
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Active Calories Burned</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{calcount}} Calories
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Resting Calories Burned</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{restcount}} Calories
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Exercise Time</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{exericecount}} Minutes
    </ion-card-content>
  </ion-card>

</div>

</ion-content>
